.reacticon{
    background: url(./assets/images/KDpgvguMpGfqaHPjicRK.svg) no-repeat;
    height: 85;
    position: absolute;
    right: 384px;
    top: 0px;
    z-index: 1000;
    width: 50px;
    background-size: contain;
    filter: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    margin-top: 5px;
}

.antdicon {
    background: url(./assets/images/react.svg) no-repeat;
    height: 85;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 50px;
    background-size: contain;
    filter: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    margin-top: 5px;
}

     